<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增用户</title>
    <!-- Bootstrap Styles-->
    <link href="../../css/common/base.css" rel="stylesheet" />
    <link href="../../css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../css/common/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../../js/lib/layui/css/layui.css">
    <link href="../../css/common/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/workbench/adduser.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <i class="fa fa-gear"></i>
                    <strong>HYBRID</strong>
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right hidden-xs">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <!-- 侧边栏 -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div id="sideNav" href="">
                <i class="fa fa-caret-right"></i>
            </div>
            <div id="sidebar" class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-sitemap"></i> 客户管理
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level nav-active">
                            <li>
                                <a href="#">客户管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="../customer/client.html">客户管理</a>
                                    </li>
                                    <li>
                                        <a href="../customer/clientdetail.html">客户详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">订单管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="../customer/order.html">订单管理</a>
                                    </li>
                                    <li>
                                        <a href="../customer/orderdetail.html">订单详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">用户管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="../customer/user.html">用户管理</a>
                                    </li>
                                    <li>
                                        <a href="../customer/userdetail.html">用户详情</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sitemap"></i> 管理工具
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level nav-active">
                            <li>
                                <a href="#">任务管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">任务管理
                                            <span class="fa arrow"></span>
                                        </a>
                                        <ul class="nav nav-third-level nav-3">
                                            <li>
                                                <a href="../manage/taskmanagement.html">任务管理</a>
                                            </li>
                                            <li>
                                                <a href="#">新增任务
                                                    <span class="fa arrow"></span>
                                                </a>
                                                <ul class="nav nav-third-level nav-4">
                                                    <li>
                                                        <a href="../manage/addtask.html">新增任务</a>
                                                    </li>
                                                    <li>
                                                        <a href="../manage/newcustomers.html">添加任务客户</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="../manage/viewtask.html">查看任务详情-指派/终止/验收</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">任务统计管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="../manage/taskstatistical.html">任务统计管理</a>
                                    </li>
                                    <li>
                                        <a href="../manage/statisticaldetail.html">任务统计详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">任务类型管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="../manage/tasktype.html">任务类型管理</a>
                                    </li>
                                    <li>
                                        <a href="../manage/tasktypedetail.html">任务类型详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">预约管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">预约管理</a>
                                    </li>
                                    <li>
                                        <a href="#">预约详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">回访管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">回访管理</a>
                                    </li>
                                    <li>
                                        <a href="#">回访信息详情</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class='active'>
                        <a href="#">
                            <i class="fa fa-sitemap"></i> 客服工作台
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level in nav-active">
                            <li>
                                <a href="#">首页-客服</a>
                            </li>
                            <li class='active'>
                                <a href="#">我的客户-客户列表
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="./userlist.html">我的客户-客户列表</a>
                                    </li>
                                    <li>
                                        <a href="./userdetail.html">我的客户-客户详情</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">我的任务-任务列表
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="./tasklist.html">我的任务-任务列表</a>
                                    </li>
                                    <li>
                                        <a href="./unclaimed.html">查看我的任务-待领取</a>
                                    </li>
                                    <li>
                                        <a href="./userdetail.html">我的任务-任务详情</a>
                                    </li>
                                    <li>
                                        <a href="./completed.html">查看我的任务-执行完毕</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sitemap"></i> 营销工具
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level nav-active">
                            <li>
                                <a href="#">问卷管理
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">问卷管理</a>
                                    </li>
                                    <li>
                                        <a href="#">创建/编辑调查问卷</a>
                                    </li>
                                    <li>
                                        <a href="#">问卷预览</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">查看问卷结果
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">查看问卷结果</a>
                                    </li>
                                    <li>
                                        <a href="#">问卷明细列表</a>
                                    </li>
                                    <li>
                                        <a href="#">问卷明细</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./views/aside/system.html">
                            <i class="fa fa-sitemap"></i>
                            <span>系统设置</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="./views/aside/branch.html">部门管理</a>
                            </li>
                            <li>
                                <a href="./views/aside/staff.html">员工管理</a>
                            </li>
                            <li>
                                <a href="./views/aside/account.html">账号管理</a>
                            </li>
                            <li>
                                <a href="#">催销管理</a>
                            </li>
                            <li>
                                <a href="#">图片管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h3 class='header-title'>用户详情</h3>
                </div>
            </div>
            <!-- 内容 -->
            <div class="content" id='app'>
                <div class="container-fluid form-inline">
                    <div class="col-md-12" align='right'>
                        <button type='button' class='btn btn-primary btn-save' @click='saveFunc'>保存</button>
                        <button type='button' class='btn btn-primary btn-close'>关闭</button>
                    </div>
                    <div class='col-md-12'>
                        <button class='open'></button>
                        <label class='normal-height'>管理信息</label>
                    </div>

                    <div class="user-wrap form-section">
                        <div class="row">
                            <div class='col-md-12'>
                                <div class="form-group col-md-4">
                                    <label for="">姓名</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_name' name="" autofocus>
                                </div>
                                <div class="form-group col-md-4 normal-height">
                                    <label for="">所属客户</label>
                                    <input type="text" class='form-control' v-model='detail_info.is_company'>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                        <label for="">是否主联系人</label>
                                        <select name="" id="" class="form-control" v-model='detail_info.is_linkman'>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="form-group col-md-4">
                                    <label for="">职务</label>
                                    <select name="" id="" class="form-control" v-model='detail_info.is_position'>
                                        <option value="1">老板</option>
                                        <option value="2">设计师</option>
                                        <option value="3">其他</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">角色</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_role'>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">客户状态</label>
                                    <select name="" id="" class="form-control" v-model='detail_info.is_status'>
                                        <option value="1">在职</option>
                                        <option value="2">离职</option>
                                        <option value="3">休假</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="form-group col-md-4">
                                    <label for="">移动电话</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_phone'>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">工作电话</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_tel'>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">分机号</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_ext'>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="form-group col-md-4">
                                    <label for="">QQ</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_qq'>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="">微信号</label>
                                    <input type="text" class="form-control" v-model='detail_info.is_wx'>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                        <label for="">是否添加微信</label>
                                        <select name="" id="" class="form-control" v-model='detail_info.is_addwx'>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='col-md-12'>
                        <button class='open'></button>
                        <label class='normal-height'>管理信息</label>
                    </div>
                    <div class="service-wrap form-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-3">
                                    <label for="">客户印象</label>
                                    <select name="" id="" class="form-control" v-model='detail_info.is_impression'>
                                        <option value="1">I (很好沟通)</option>
                                        <option value="2">II (一般)</option>
                                        <option value="3">III (拒绝沟通)</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                        <label for="">客户关注度</label>
                                        <input type="text" class="form-control" v-model='detail_info.is_attention'>
                                    </div>
                                </div>
                                <div class="form-group col-md-5">
                                    <div>
                                        <label for="">客户关注项备注</label>
                                        <textarea name="" id="" cols="30" rows="1" class="form-control" v-model='detail_info.is_remark'></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-2">
                                    <label for="">多产品</label>
                                    <input type="checkbox" v-model='detail_info.is_apm'>
                                    <span>APM</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hasapm'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="checkbox" v-model='detail_info.is_book'>
                                    <span>书籍</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hasbook'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="checkbox" v-model='detail_info.is_ceo'>
                                    <span>总裁班</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hasceo'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-2">
                                    <label for=""></label>
                                    <input type="checkbox" v-model='detail_info.is_cloud'>
                                    <span>云图</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hascloud'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="checkbox" v-model='detail_info.is_seoul'>
                                    <span>韩国行</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hasseoul'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="checkbox" v-model='detail_info.is_exhibition'>
                                    <span>展会</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <select name="" id="" class="form-control" v-model='detail_info.is_hasexhibition'>
                                        <option value="1">不需要</option>
                                        <option value="2">免费试用</option>
                                        <option value="3">了解</option>
                                        <option value="4">高意向</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class='col-md-12'>
                        <button class='open'></button>
                        <label class='normal-height'>用户管理信息</label>
                    </div>
                    <div class="manage-wrap form-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class='form-group col-md-4'>
                                    <label for="" class='wid-85'>用户来源</label>
                                    <input type="text" class="form-control" value='张三' disabled="disabled" v-model='detail_info.is_source'>
                                </div>
                                <div class='form-group col-md-4'>
                                    <label for="" class='wid-85'>创建人</label>
                                    <input type="text" class="form-control" value='张三' disabled="disabled" v-model='detail_info.is_creater'>
                                </div>
                                <div class='form-group col-md-4'>
                                    <div>
                                        <label for="" class='wid-85'>最后修改人</label>
                                        <input type="text" class="form-control" value='张三' disabled="disabled" v-model='detail_info.is_amend'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class='form-group col-md-4'>
                                    <div>
                                        <label for="">最后联络时间</label>
                                        <input type="text" class="form-control" value='2018-8-12 12:12:30' disabled="disabled" v-model='detail_info.is_lasttime'>
                                    </div>
                                </div>
                                <div class='form-group col-md-4'>
                                    <div>
                                        <label for="">最后联络方式</label>
                                        <input type="text" class="form-control" value='来电' disabled="disabled" v-model='detail_info.is_lastlink'>
                                    </div>
                                </div>
                                <div class='form-group col-md-4'>
                                    <div>
                                        <label for="">预约联络时间</label>
                                        <input type="text" class="form-control" value='2018-8-12 12:12:30' disabled="disabled" v-model='detail_info.is_order'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='col-md-12'>
                        <button class='open'></button>
                        <label class='normal-height'>账户信息</label>
                    </div>
                    <div>
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="warning">
                                    <th>账号</th>
                                    <th>类型</th>
                                    <th>手机号</th>
                                    <th>未登录天数</th>
                                    <th>注册时间</th>
                                    <th>最后登录时间</th>
                                    <th>修改密码时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr align='center' v-for='item in list'>
                                    <td>{{ item.account }}</td>
                                    <td>{{ item.stage }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.unline }}</td>
                                    <td>{{ item.register }}</td>
                                    <td>{{ item.lastlogin}}</td>
                                    <td>{{ item.code }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class='col-md-12'>
                        <button class='open'></button>
                        <label class='normal-height'>账户信息</label>
                    </div>
                    <div class="account-info">
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr class="warning">
                                    <th>创建日期</th>
                                    <th>服务对象</th>
                                    <th>手机号</th>
                                    <th>服务方式</th>
                                    <th>联络类型</th>
                                    <th>联络结果</th>
                                    <th>用户印象</th>
                                    <th>服务内容</th>
                                    <th>服务详情</th>
                                    <th>联络人</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr align='center' v-for='item in record'>
                                    <td>{{ item.created }}</td>
                                    <td>{{ item.session }}</td>
                                    <td>{{ item.tel }}</td>
                                    <td>{{ item.selation }}</td>
                                    <td>{{ item.stage }}</td>
                                    <td>{{ item.result }}</td>
                                    <td>{{ item.impress }}</td>
                                    <td>{{ item.content }}</td>
                                    <td>{{ item.detail }}</td>
                                    <td>{{ item.contact }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="test1"></div>
                    </div>
                </div>
            </div>
            <footer>
                <p>Copyright &copy; 2016.Company name All rights reserved.More Templates
                    <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from
                    <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </p>
            </footer>
            <!-- /. PAGE WRAPPER  -->
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->

    <script type="text/javascript" src="../../js/lib/require/require.js"></script>
    <script type="text/javascript" src="../../js/common/main.js"></script>
    <script>
        require(['../../js/workbench/adduser.js'])
    </script>
</body>

</html>