<!DOCTYPE html>
<html>
	<head>
		<title>登录</title>
		<meta charset="utf-8"/>
		<!-- Bootstrap Styles-->
		<link href="../../css/common/base.css" rel="stylesheet" />
		<link href="../../css/lib/bootstrap.min.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../css/common/font-awesome.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../css/common/common.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/user/login.css">
	</head>
	<body>
		<div class="container" id="app">

			<div class="login-box js-login-box" v-bind:style="{top:box.top+'px'}">
		      	<div class="login-wrap">
			        <h3>CRM后台管理系统-登录</h3>
			        <div class="input-group">
			          	<span class="input-group-addon glyphicon glyphicon-user"></span>
			          	<input type="text" v-model="login_info.account" class="form-control" name="" placeholder="用户名" autofocus>
			          	<p v-text="login_info.msg" v-if="login_info.is_account"></p>
			        </div>
			        <div class="input-group">
			          	<span class="input-group-addon glyphicon glyphicon-lock"></span>
			          	<input type="password" v-model="login_info.password" class="form-control" name="" placeholder="密码">
			          	<p v-text="login_info.msg" v-if="login_info.is_password"></p>
			        </div>
			        <div class="input-group">
			        	<span class="input-group-addon glyphicon glyphicon-pencil"></span>
			          	<input type="text" v-model="login_info.code" class="form-control code-area"  name="" maxlength="4" placeholder="验证码">
			        	<img class="img-code" src="" alt="code"/>
			        	<p v-text="login_info.msg" v-if="login_info.is_code"></p>
			        </div>
			        <div>
			        	<a href="">忘记密码</a>
			        	<p class="pull-right">没有账号？<a href="">立即注册</a></p>
			        </div>
			        <button class="btn btn-primary btn-lg btn-block" type="button" @click="subFunc" v-text="login_info.btntxt">登录</button>
		      	</div>
		    </div>
		</div>
		<script type="text/javascript" src="../../js/lib/require/require.js"></script>
  		<script type="text/javascript" src="../../js/common/main.js"></script>
  		<script type="text/javascript" src="../../js/user/login.js"></script>
	</body>
</html>