.content .form-section>div>div{margin-bottom: 10px}

.form-inline .checked-list{max-width: 240px;}

.checked-list>li{display: inline-block;display: 4px 8px;background-color: #fff}

.filter-div{display: none;z-index: 10;position: absolute;left: 80px;top: 40px;padding: 10px;background-color: #fff;border:1px solid #aaa;}

/*----------bootstrap 覆盖----------*/
.table{background-color: #ededed}
.table>thead{background-color: #cce1f5;}
.form-group>label{width: 4.5em;vertical-align:middle;}

.stats{margin-bottom: 20px;margin-top: 30px;}
.stats>ul>li{display: inline-block;}
.stats-info {height:380px;overflow: auto; white-space: nowrap;}
.stats-info>div{display:none;}
.stats-active{background-color: #337ab7;color: #fff;}
.pr-record div {padding:0;}

.form-section .dist-bottom>div{margin-bottom:10px;}
