.header-title {padding-top: 0px;height: 30px;border-bottom: 1px solid #797979;}
.form-section>div>div{margin-bottom: 10px}
.choice {position: absolute;top: 40px;right: 15px;background-color: #fff;border: 1px solid #797979;width: 175px;text-align: left;padding: 10px 10px 10px 20px;display: none;}
.choice li {height: 30px;line-height: 30px;}
.choice span {padding-left: 10px;vertical-align:middle;font-size: 12px;}
.all-select {padding-left: 10px;}
.choice input {vertical-align:middle;margin: 0;}